<h1>Welcome to sixerr</h1>
<h3>Please choose from the freelancers below or filter by cost choice</h3>
<h3>You can also register as a freelancer on the nav bar in the top left of the screen</h3>
<% if user_signed_in?%>
<%= form_with method: :get, url: url_for do |f| %>
  <%= f.number_field :cost_lower_than, value: params[:cost_lower_than], placeholder: "From" %>
  <%= f.number_field :cost_greater_than, value: params[:cost_greater_than], placeholder: "To" %>
  <%= submit_tag("Submit") %>
<% end %>

<%== pagy_nav(@pagy)%>
<div class="d-flex flex-wrap justify-content flex-shrink-1 gap-3">
  <% @freelancers.each do |freelancer| %>
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
        <img src="https://i.pinimg.com/originals/57/f5/da/57f5da08bd8f52bc2d3e4ebadd67b642.jpg" class="img-fluid rounded-start" alt="6-logo">
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <p>First Name: <%= freelancer['first_name'] %></p>
              
              <p>Last Name: <%= freelancer['last_name'] %></p>
              
              <p>Bio: <%= freelancer['bio'] %></p>

              <p>Cost: <%= freelancer['cost'] %> Per Hour($)</p>

              <p>Featured: <%= freelancer['featured'] %></p>
              <br/>
              <%= link_to "Show this freelancer", freelancer, class: "btn btn-info" %>
            </div>
          </div>
    </div>
  <br/>
</div>
<%end%>
<% else %>
<h1>Please sign up, or sign in!</h1>
<%end%>
