

<div id="<%= dom_id freelancer %>">
  <p>
    <strong>First name:</strong>
    <%= freelancer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= freelancer.last_name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= freelancer.bio %>
  </p>

  <p>
    
   <p> <strong>Cost:</strong> <%= freelancer.cost %> per hour ($)</p>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= freelancer.featured %>
  </p>

</div>


